body{
    text-align: "center";
}

h1{color:red
}

#skill-container{
    display: flex;
    justify-content: space-around;
    margin: 0 200;
}

.skill-item {
    width: 140px;
    border-radius: 20px;
    background-color: lightblue;
}
